/* Error: There is no module with the namespace "svariable".
 *    ,
 * 13 |                 border: 1px svariable.$ccolor_borde;
 *    |                             ^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\parciales\paginasen_en_scss\_carrito.scss 13:29  @use
 *   sass\main.scss 25:1                                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "svariable".\a    \2577 \a 13 \2502                  border: 1px svariable.$ccolor_borde;\d\a    \2502                              ^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\parciales\\paginasen_en_scss\\_carrito.scss 13:29  @use\a   sass\\main.scss 25:1                                   root stylesheet';
}
