@use '../generales/variables';

body{
    background-image: url(../imagenes/fondococina.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    overflow-y: none;
}

main{
    width: 100%;
}

a{
    
    color:  map-get(variables.$titulo_color, general);
}

h2{
    font-size: 40px;
}

ul, h3,.titulo_menu{
    list-style: none;
    font-family: map-get(variables.$estilo_letra, titulos);
    font-size: 22px;
}

p{
    font-family: map-get(variables.$estilo_letra, parrafos);
    font-weight: 600;
    text-align: justify;
}

.titulo_nosotros{
    color: map-get(variables.$titulo_color, nosotros);
    margin: 20px 0 0 0;
    font-family: map-get(variables.$estilo_letra, titulos);
    font-size: 20px;
}

.centrado{
    margin: 0 auto; 
}

.titulo{
    color:  map-get(variables.$titulo_color, general);
    font-family:map-get(variables.$estilo_letra, titulos);
}

.borde_titulo_centrado{
    transform: translate(0, 25px);
}

.titulo_animacion{
    transition: text-shadow 100ms ease 0s, color 100ms ease 0s;
    &:hover{
        color: map-get(variables.$titulo_color, hover);
        text-shadow: 1px 1px 2px black;
        text-decoration-line:none ; /*EVITANDO ESTILO DE BOOTSTRAP*/
    }
    &:active{
        color: map-get(variables.$titulo_color, active);
        text-shadow: none;
    }
}

.margen_titulo{
    margin:  20px 0 0 0;
}

.iconos{
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 300ms ;
}
