/*colores sueltos*/
/*aun que sean los mismos colores algunas variables lo dejo asi por si se queire cambiar el color de alguna elemnto se puede hacer mas rapido*/
$comida_fondo:rgb(255, 223, 159);

$pagina_seleccionada_letra:rgb(255, 255, 255);

$color_seleccionado:rgb(255, 255, 255); 
$color_info:rgb(255, 255, 255);

$color_borde:rgb(250, 13, 13);
$color_borde_carrito:rgb(87, 87, 87);

$color_fondo_titulo: rgb(237, 244, 250);
$color_fondo_carrito: rgb(255, 255, 255);

$titulo_color:(
    general:rgb(125, 11, 174),
    hover:rgb(255, 169, 9),
    active:rgb(255, 222, 160),
    nosotros:rgb(27, 133, 20)
); 

$footer_color:(
    general:rgb(127, 255, 212),
    hover:rgb(0, 255, 157),
    active:rgb(109, 255, 199),
    sombra:rgb(0, 0, 0)
); 

$boton_color:(
    letra: rgb(250, 126, 81),
    fondo:rgb(130, 238, 157),
    letra2: rgb(0, 0, 0)
);

/*Estilos letra*/
$estilo_letra:(
    titulos:('Permanent Marker', cursive),
    parrafos:('Nunito', sans-serif),
    loguin:('Roboto', sans-serif));

/*gradientes generales*/


