/*colores sueltos*/
/*aun que sean los mismos colores algunas variables lo dejo asi por si se queire cambiar el color de alguna elemnto se puede hacer mas rapido*/
$comida_fondo:rgb(255, 223, 159);
$color_seleccionado:rgb(255, 255, 255); 
$pagina_seleccionada_letra:rgb(255, 255, 255);
$color_info:rgb(255, 255, 255);
$color_borde:rgb(250, 13, 13);
$colo_fondo_caja: rgb(237, 244, 250);

$titulo_color:(
    general:rgb(125, 11, 174),
    hover:rgb(255, 169, 9),
    active:rgb(255, 222, 160),
    nosotros:rgb(27, 133, 20)
); 

$footer_color:(
    general:rgb(127, 255, 212),
    hover:rgb(0, 255, 157),
    active:rgb(109, 255, 199),
    sombra:rgb(0, 0, 0)
); 

$boton_color:(
    letra: rgb(250, 126, 81),
    fondo:rgb(130, 238, 157)
);
/*Estilos letra*/
/* map-get(variables.$estilo_letra, loguin) */
$estilo_letra:(
    titulos:('Permanent Marker', cursive),
    parrafos:('Nunito', sans-serif),
    loguin:('Roboto', sans-serif));

/*gradientes generales*/

%active_carrito{
    background: linear-gradient(
        135deg,
        rgba(203, 139, 0, 0.686) 0%,
        rgba(255, 200, 0, 0.592) 51%,
        rgba(255, 170, 0, 0.678) 100%
        );
    background-blend-mode: normal;
}

%color_boton_hover{ /*propiedades para botones en hover*/
    background: linear-gradient(
            0deg,
            rgb(43, 253, 96) 0%,
            rgb(196, 255, 211) 48%,
            rgb(49, 255, 100) 100%
        );
        color: rgb(255, 255, 255);
        box-shadow: rgb(0, 0, 0) 0 3px 5px;
}

%color_boton_active{/*propiedades para botones enactive */
    color: black;
    background: linear-gradient(
        0deg,
        rgb(43, 253, 96) 0%,
        rgb(0, 65, 22) 48%,
        hwb(135 19% 0%) 100%
    );
    color: rgb(190, 255, 190);
}

%color_navvarb{
    background: linear-gradient(
            181deg,
            rgba(94, 140, 87, 1) 0%,
            rgba(181, 253, 129, 1) 47%,
            rgba(69, 105, 48, 1) 100%
        );
}

%color_menu{
    background: linear-gradient(
        0deg,
        rgba(163, 0, 0, 1) 0%,
        rgba(255, 171, 171, 1) 51%,
        rgba(255, 0, 0, 1) 100%
    );
    background-blend-mode: normal;
}

%pestaña_hover{
    background: linear-gradient(
        181deg,
        rgba(94, 140, 87, 1) 0%,
        rgba(96, 172, 42, 1) 47%,
        rgba(69, 105, 48, 1) 100%
    );
    background-blend-mode: normal;
}

%color_fondo_caja{
    background: linear-gradient(
        45deg,
        rgba(155, 235, 131, 1) 0%,
        rgba(204, 255, 189, 0.79) 31%,
        rgba(206, 255, 191, 1) 68%,
        rgba(133, 204, 144, 1) 100%
    );
    background-blend-mode: normal;
}


