.header_inicio {   
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    display: block;
    margin: 3% 0 2% 0;
}

.main_inicio {
    div{ 
    display: flex;
    justify-content: center;
    }
    .img{ 
        border-radius: 10px;
        justify-content: center;   
    } 
}
