
.promo_take{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.milanesa_semana{
    display: flex;
    flex-direction:column;
    align-items: center;
}  

.milanesa_semana h2{
    font-size: 20px;
    text-align: center;
}

.milanesa_semana_contenedor{ 
    width: 85%; 
    max-width: 380px; 
}