
.registrarse{
    width: 90%;
    max-width: 650px;
    form{
        .registro_contendor1{
            .formato_input{ 
                width: 75%;
                max-width: 350px;
                border-radius:5px;
            }
        }
        .registro_contendor2{
            .comentario{
                resize: none;
                width: 90%;
                height: 150px;
                border-radius: 5px;
                margin: 10px auto;
            }   
            .chequeo{
                display: flex;
                padding: 0 auto;
                justify-content: center;
                max-width: 90%;
                font-size: 14px;
                text-align: none;
            }
            .enviar_pedido{
                display: flex;
                justify-content: space-evenly;
                margin: 0 auto;
                margin: 10px 0 0 0;
                .check{
                    margin: auto 10px;
                }
                .enviar_reset{
                    width: 45%;
                    max-width: 150px;
                    height: 30px;
                    border-radius:5px;
                }
            }
        }
    }
}








