@use '../generales/variables';

.bordes_divisorios{
    border: 2px solid variables.$color_borde;
    padding: 50px 10px 20px 10px;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    box-shadow:  3px 3px 5px black;
    @extend %color_fondo_caja;
}

.borde_titulo{
    transform: translate(30px, 25px);
    border: 2px solid variables.$color_borde;;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: variables.$color_fondo_titulo;
    box-shadow:  3px 3px 5px black;
    font-size: 25px;
    overflow-wrap: break-word;
    }

