@use '../generales/variables';
@use '../generales/extend';

.boton_formato{
    color: map-get(variables.$boton_color, letra);
    font-family: map-get(variables.$estilo_letra, loguin);
    text-align: center;
    border-radius: 10px;
    font-weight:bold;
    transform: translate(0,-20px);
    cursor: pointer;
    box-shadow: none;
    transition:     
        transform 100ms ease 0s, 
        background-color 100ms ease 0s, 
        color 100ms ease 0s,
        box-shadow 100ms ease 0s;
}

.boton_contenedores {
    padding: 10px 15px ;
    font-size: 18px;
    align-self: center;
}

.boton_entrar, .boton_contenedores{
    background-color: map-get(variables.$boton_color, fondo);
    &:hover {
        @extend %color_boton_hover;
        transform: translate(0,-24px);
    }
    &:active{
        transform: translate(0,-20px);
        box-shadow: none;
        @extend %color_boton_active;
    }
        .precio{
       transform: translate(0,-20px);
        
        padding: 5px 0;
        width: 150px;
        text-align: center;
        border-radius: 0 0 10px 10px;
        background: linear-gradient(
    0deg,
    rgba(255, 232, 16, 1) 0%,
    rgba(255, 253, 201, 1) 51%,
    rgba(255, 230, 0, 1) 100%
  );
  background-blend-mode: normal;
    } 
}

.boton_enviar{
    color: map-get(variables.$boton_color, letra2 );
    font-size: 15px;    align-self: center;
    transform: translate(0,0);
    @extend %color_boton_hover_enviar;
    &:hover {
        @extend %color_boton_hover;
        transform: translate(0,-4px) 
    }
    &:active{
        transform: translate(0,-0px);
        box-shadow: none;
        @extend %color_boton_active;
    }
}

/* .boton_entrar {
    padding: 5px 15px;
    font-size: 18px;
    display: inline-block;
} */