@use '../generales/variables';
.boton_formato{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 10px;
    font-weight:bold;
    color: rgb(250, 126, 81);
    transform: translate(0,-20px);
    background-color: rgb(130, 238, 157);
    cursor: pointer;
    box-shadow: none;
    transition:     
        transform 100ms ease 0s, 
        background-color 100ms ease 0s, 
        color 100ms ease 0s,
        box-shadow 100ms ease 0s;
    &:hover {
        @extend %color_boton_hover;
        transform: translate(0,-22px) 
    }
    &:active{
        transform: translate(0,-20px);
        box-shadow: none;
        color: black;
        background: linear-gradient(
            0deg,
            rgb(43, 253, 96) 0%,
            rgb(0, 65, 22) 48%,
            rgb(49, 255, 100) 100%
        );
        color: rgb(190, 255, 190);
    }
}

.boton_contenedores {
    padding: 10px 15px ;
    font-size: 18px;
    align-self: center;
}

.boton_contenedores {
    padding: 10px 15px ;
    font-size: 18px;
    align-self: center;
}