@use '../generales/variables';

.contenedores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    div{
        background-color: red;

        .comida{
            border-radius: 10px 10px 0 0 ;
            font-weight:bold;
            padding: 5px 30px 0 5px;
            width: -moz-fit-content;
            width: fit-content;
            background-color: variables.$comida_fondo;
            margin: 0px; /*EVITANDO ESTILO DE BOOTSTRAP*/
        }
        .info_animacion{
            .info{
                position: absolute;
                background-color: variables.$color_info;
                opacity: 0.8;
                height: 35px;
                width: 60px;
                text-align: center;
                border-radius:  0  0 5px 5px;
                transition: width 30ms ease 0s;
                &:hover{
                    cursor:pointer;
                    color: rgba(0, 0, 0, 0.616);
                    -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    @keyframes rotate-hor-center {
                        0% {
                            -webkit-transform: rotateX(0);
                            transform: rotateX(0);
                        }
                        100% {
                            -webkit-transform: rotateX(-360deg);
                            transform: rotateX(-360deg);
                        }
                    } 
                }
                &:active{
                    display: block;
                    color: rgb(0, 0, 0);
                    border-radius: 0 5px 0 0;
                    width: 230px; 
                }
            }
            &:active .informacion_milanesa{
                display: block;
                opacity: 0.8;
                -webkit-animation: scale-in-ver-top 50ms ease-in-out 80ms backwards;
                animation: scale-in-ver-top 50ms ease-in-out 80ms backwards;
                @keyframes scale-in-ver-top {
                    0% {
                        -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                        -webkit-transform-origin: 100% 0%;
                        transform-origin: 100% 0%;
                        opacity: 1;
                    }
                    100% {
                        -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                        -webkit-transform-origin: 100% 0%;  
                        transform-origin: 100% 0%;
                        opacity: 1;
                    }
                }            
            }
            .informacion_milanesa{/*deberia in*/
                display: none;
                position: absolute;
                width: 230px;
                padding: 0 5px 0 5px;
                background-color: variables.$color_info;
                margin: 36px 0 0 0;
                opacity: 0.9;
                border-radius: 0 0 5px 5px ;
                transition: opacity 100ms ease 0s;
                cursor: pointer;
                font-size: 17px;    
            }
        }
    }
    img{
        border-radius: 0 10px 10px;
        width: 230px;
        height: 200px;
    }    
}